<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ticket de Envío</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            width: 8cm;
            padding: 10px;
            border: 1px solid #000;
            margin: 0 auto;
        }
        h2, h3 {
            text-align: center;
            margin: 5px 0;
        }
        .line {
            border-top: 1px dashed #000;
            margin: 10px 0;
        }
        p {
            margin: 4px 0;
        }
        .section {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

    {% if datos_sucursal %}
        <h3>{{ datos_sucursal.nombre }}</h3>
        <div class="section">
            <p>Dirección: {{ datos_sucursal.direccion }}</p>
            <p>C.P.: {{ datos_sucursal.codigo_postal }}</p>
            <p>Estado: {{ datos_sucursal.estado }}</p>
            <p>Tel: {{ datos_sucursal.telefono }}</p>
            <p>RFC: {{ datos_sucursal.rfc }}</p>
            <p>Atendió: {{ datos_sucursal.atendio }}</p>
        </div>
    {% else %}
        <p style="color:red;">No se encontraron datos de la sucursal</p>
    {% endif %}

    <div class="line"></div>

    {% if datos_envio %}
        <div class="section">
            <p><strong>Remitente:</strong> {{ datos_envio.remitente }}</p>
            <p><strong>Teléfono:</strong> {{ datos_envio.telefono }}</p>
            <p><strong>Contenido:</strong> {{ datos_envio.contenido }}</p>
            <p><strong>Destinatario:</strong> {{ datos_envio.destinatario }}</p>
            <p><strong>Código Postal:</strong> {{ datos_envio.codigo_postal }}</p>
            <p><strong>Dirección de Entrega:</strong> {{ datos_envio.direccion }}</p>
            <p><strong>Destino(referencias):</strong> {{ datos_envio.referencias }}</p>
            <p><strong>Medidas (cm):</strong> {{ datos_envio.ancho }} x {{ datos_envio.alto }} x {{ datos_envio.largo }}</p>
            <p><strong>Peso (kg):</strong> {{ datos_envio.peso }}</p>
            <p><strong>Paqueteria:</strong> {{datos_envio.paqueteria}}
            <p><strong>Total (MXN):</strong> ${{ datos_envio.total }}</p>
        </div>
    {% else %}
        <p style="color:red;">No se encontraron datos del envío</p>
    {% endif %}

    <div class="line"></div>

    <p style="text-align: center; font-size: small;">¡Gracias por su preferencia!</p>
</body>
</html>
